.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.content{
    display:none;
}

.productsContainer{
    display:none;
}

.footer{
    position: absolute;
    width: 100%;
    bottom:0;
    height: 60px;
    line-height: 60px;
    background-color: #F8F8F8;
}

#productsTable_wrapper{
    color:#777;
}

.inProductContent{
    display:none;
}

.normalProductContent{
    display:block;
}

textarea {
    resize:vertical;
}