html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.content{
    display:none;
}

.productsContainer{
    display:none;
}

.footer{
    position: absolute;
    width: 100%;
    bottom:0;
    height: 60px;
    line-height: 60px;
    background-color: #F8F8F8;
}

#productsTable_wrapper{
    color:#777;
}

.normalContent{
    display:block;
}