html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.productItem img{
    display: block;
    width:auto;
    height:325px;
    margin-left:auto;
    margin-right:auto;
}

.winkelmandjeContainer{
    display:none;
}

.footer{
    position: absolute;
    width: 100%;
    bottom:0;
    height: 60px;
    line-height: 60px;
    background-color: #F8F8F8;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}